<?xml version="1.0"?>
<launch>

    <node name="goal_chaser_logistic" pkg="simple_waypoint_chaser" type="simple_waypoint_chaser.py" output="screen">
        <rosparam file="$(find simple_waypoint_chaser)/configs/MRmotion_params_logistic.yaml" />
    </node>

    <node name="goal_chaser_farming" pkg="simple_waypoint_chaser" type="simple_waypoint_chaser.py" output="screen">
        <rosparam file="$(find simple_waypoint_chaser)/configs/MRmotion_params_farming.yaml" />
    </node>

</launch>
